# Python Assignment - 1

### Total - 30 marks

## Variables and data types

__Exercise 1 a)__ Create four variables and assign values with different data types to them

In [16]:
#int
a=1
print(a)
print(type(a))

1
<class 'int'>

In [17]:
#float
b=1.2
print(b)
print(type(b))

1.2
<class 'float'>

In [18]:
#String
c='Hello'
print(c)
print(type(c))

Hello
<class 'str'>

In [19]:
#boolean
print(a<b)

True

__Exercise 1 b)__ Print the variables using Python's built-in function print(_String_)

In [20]:
d='Python'
print(d)

Python

In [21]:
e="Python is amazing"
print(e)

Python is amazing

In [30]:
f='''This is my first python 
Assignment.'''
print(f)

This is my first python
Assignment.

In [31]:
g="Printed all types of python string"
print(g)

Printed all types of python string

__Exercise 1 c)__ Print the data type of each variable using Python's built-in function type()

In [32]:
#int
a=1
print(a)
print(type(a))

1
<class 'int'>

In [33]:
#float
b=1.2
print(b)
print(type(b))

1.2
<class 'float'>

In [34]:
#String
c='Hello'
print(c)
print(type(c))

Hello
<class 'str'>

In [35]:
#boolean
print(a<b)

True

__Exercise 2__ How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [2]:
# Example
first_value = 3
second_value = 5

result = first_value + second_value
print(result)

8

In [41]:
#Using + operator

h=10 #First_value
j=2 #Second_value

k=h+j #Result
print(k)

12

In [42]:
#Using * operator
#h=10,j=2 Defined.

k=h*j
print(k)

20

In [43]:
#Using - operator
#h=10,j=2 Defined.

k=h-j
print(k)

8

In [44]:
#Using / operator
#h=10,j=2 Defined.

k=h/j
print(k)

5.0

## Example: Lists

In [3]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [4]:
fruits[0]

'orange'

In [5]:
fruits[1]

'apple'

In [6]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [7]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [8]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [9]:
fruits[:2]

['orange', 'apple']

__Exercise 3 a)__ Create a list with names of your friends and print the name of the first, second and last person

In [38]:
Names = ['Akash', 'Anuj', 'Yash', 'Mahesh']

In [47]:
Names[0]

'Akash'

In [48]:
Names[1]

'Anuj'

In [39]:
Names[-1]

'Mahesh'

__Exercise 3 b)__ Print your list of names using different ranges

In [27]:
Names[0:]

['Akash', 'Anuj', 'Yash', 'Mahesh']

In [32]:
Names[:3]

['Akash', 'Anuj', 'Yash']

__Exercise 4 a)__ Count how many names you have added to the list using len(_[...]_)

In [33]:
length=len(Names)
print("length of the list is = ",length)

length of the list is =  4

__Exercise 4 b)__ Add a new name to your list using append(_item_)

In [34]:
new='Rohit'
Names.append(new)
print(Names)

['Akash', 'Anuj', 'Yash', 'Mahesh', 'Rohit']

__Exercise 4 c)__ Print the list. Does it look as expected?

In [36]:
#Yes_New_name_Added

print(Names)

['Akash', 'Anuj', 'Yash', 'Mahesh', 'Rohit']

__Exercise 4 d)__ Add a new name on the _third_ position in your list using insert(_position_, _item_)

In [37]:
new_name='Virat'
Names.insert(2,new_name)
print(Names)

['Akash', 'Anuj', 'Virat', 'Yash', 'Mahesh', 'Rohit']

__Exercise 4 e)__ Print the list. Does it look as expected?

In [38]:
#Yes_New_name_Added

print(Names)

['Akash', 'Anuj', 'Virat', 'Yash', 'Mahesh', 'Rohit']

__Exercise 4 f)__ Remove a name from the list using remove(_item_)

In [41]:
delete='Yash'
Names.remove(delete)
print(Names)

['Akash', 'Anuj', 'Virat', 'Mahesh', 'Rohit']

__Exercise 4 g)__ Print the list. Does it look as expected?

In [43]:
#Yes_name_Deleted

print(Names)

['Akash', 'Anuj', 'Virat', 'Mahesh', 'Rohit']

# Example: For loops

In [10]:
for fruit in fruits:
    print(fruit)

orange
apple
pear
banana
kiwi
mango
grapes

In [11]:
for fruit in fruits:
    fruit = fruit + 's'
    print(fruit)

oranges
apples
pears
bananas
kiwis
mangos
grapess

__Exercise 5 a)__ Print each name in your list of names

In [44]:
for name in Names:
    print(name)

Akash
Anuj
Virat
Mahesh
Rohit

__Exercise 5 b)__ Add a small change to each name in your list

In [45]:
for name in Names:
    name = 'Hello ' + name 
    print(name)

Hello Akash
Hello Anuj
Hello Virat
Hello Mahesh
Hello Rohit

# Example: Dictionaries

In [48]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [49]:
capital = countries["sweden"]
print(capital)

stockholm

__Exercise 6 a)__ Get the capital of Denmark and Norway using the dictionary _countries_

In [50]:
capital = countries["denmark"]
print(capital)

copenhagen

In [52]:
capital = countries["norway"]
print(capital)

oslo

__Exercise 6 b)__ Add a new key-value pair to the dictionary _countries_

In [54]:
countries["India"]="Delhi"
print(countries)

{'sweden': 'stockholm', 'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'Delhi'}

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

In [55]:
print(countries)

{'sweden': 'stockholm', 'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'Delhi'}

__Exercise 6 d)__ Update Sweden's capital to Malmo

In [57]:
countries["sweden"]="Malmo"
print(countries)

{'sweden': 'Malmo', 'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'Delhi'}

__Exercise 6 e)__ Print the dictionary. Does it look as expected?

In [58]:
print(countries)

{'sweden': 'Malmo', 'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'Delhi'}

__Exercise 6 f)__ Remove the key-value pair Sweden-Stockholm from the dictionary

In [64]:
del countries['sweden']

print(countries)

{'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'Delhi'}

__Exercise 6 g)__ Print the dictionary. Does it look as expected?

In [65]:
print(countries)

{'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'Delhi'}

__Exercise 6 g)__ Print each key-value pair in the dictionary countries

In [14]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: sweden, Capital: stockholm
Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo

# Example: Functions

In [ ]:
def function_name(param1, param2):
    # Block of code

We will start with creating a function that can add two numbers.

In [1]:
def add_two_numbers(number1, number2):
    result = number1 + number2
    return result

Let's try to use it!

In [4]:
add_two_numbers(1,2)

3

In [3]:
add_two_numbers(5,20)

25

__Exercise 7 a)__ Create a function that can calculate the difference between two numbers

In [27]:
def difference(no_1,no_2):
    calculate=no_1-no_2
    return calculate

In [28]:
difference(1,4)

-3

__Exercise 7 b)__ Use the function. Does it return the expected results?

In [30]:
difference(4,3)

1

__Exercise 7 c)__ Create a function that can multiply two numbers

In [21]:
def multiply(n1,n2):
    multiplication=n1*n2
    return multiplication

In [29]:
multiply(3,2)

6

__Exercise 7 d)__ Use the function. Does it return the expected results?

In [31]:
multiply(3,3)

9

__Exercise 7 e)__ Create a function that can divide two numbers

In [32]:
def divide(n3,n4):
    division=n3/n4
    return division

__Exercise 7 f)__ Use the function. Does it return the expected results?

In [33]:
divide(3,9)

0.3333333333333333

In [34]:
divide(9,3)

3.0

In [35]:
divide(12,4)

3.0